
.listado-izquierdo {
    width: 220px;
    float: right;
}

.listado-izquierdo__cabecera {
    width: 220px;
    border-bottom: 1px solid gray;
}

.listado-izquierdo__tags {
    border-bottom: 1px solid gray;
}

.listado-izquierdo__tags-lista {
    padding: 0;
    list-style: none;
}

.listado-izquierdo__tags-item {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.listado-izquierdo__destacadas {
    margin-bottom: 50px;
}

.listado-izquierdo__destacadas-img {
    width: 220px;
    height: 200px;
}
